body{
	background-color:#e11a0c;
}
article{
	width:80%;
	margin-top:2%;
	margin-left:10%;
	margin-right:10%;
	padding: 3%;
	border-radius: 5px;
	background-color: white;
	color:#e11a0c;
}
hr{
	border-color: #8d1007 !important;
	border-style: dashed !important;
}
h2{
	color:white;
}
table{
	margin-left:35%;
	margin-right:35%;
}
td, th{
	padding:2%;
}
th{
	background-color:#8d1007;
	color: white;
	text-align: center;
}
tr:nth-child(odd){background-color:#f2f2f2}
#myHeader{
	width:96%; 
	margin-top:3%;
	margin-left:3%; 
	margin-right:3%;
}
#total{
	padding: .5%;
	width: 10%;
	color: black;
}
label{
	font-weight:normal;
}
select{
	padding: 1% 1%;
	border-radius: 4px;
}
input[type=text]{
	border-radius:4px;
}
input[type=text]:focus {
    border: 3px solid #555;
}
button{
	background-color: #8d1007;
	border: #8d1007;
	border-radius:4px;
	padding: 1% 1%;
	color: white;
	transition-duration: 0.3s;
}
button:hover{
	background-color: #e11a0c;
}

.panel-default>.panel-heading{
	color: white;
	background-color:#8d1007;
}

#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
}

#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}
